In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
import workshop_library as wl
from workshop_library import training as training

In [3]:
df = wl.ms;df

                   A         B           C    target
Date
2100-01-01  0.485240  1.079390   98.949807  0.001011
2100-01-02  0.730365 -0.557028   99.049833 -0.000860
2100-01-03  0.605147 -1.158192   98.964622  0.020934
2100-01-04  0.199334 -0.862143  101.036356  0.006701
2100-01-05  0.004733 -0.567696  101.713401  0.004626
2100-01-06 -1.107422  0.511488  102.183970 -0.002945
2100-01-07 -1.909300 -1.350695  101.883021  0.000768
2100-01-08 -0.762228  1.066887  101.961227 -0.005285
2100-01-09 -0.145456  0.601962  101.422329  0.004781
2100-01-10 -0.001013 -0.291862  101.907242  0.003654
2100-01-11 -0.325643  0.107651  102.279600 -0.004425
2100-01-12  0.040244 -1.426798  101.827052  0.012489
2100-01-13 -0.537882  0.099645  103.098766  0.004829
2100-01-14  1.463235  1.008892  103.596588 -0.000948
2100-01-15  1.476456  0.559140  103.498421 -0.002474
2100-01-16 -0.267964  0.728902  103.242355 -0.012856
2100-01-17  0.896388 -0.390923  101.915047  0.004586
2100-01-18  0.560493 -0.072300  102.382428  0.000017
2100-01-19  0.643412  2.040086  102.384208  0.011363
2100-01-20 -0.747095 -0.070213  103.547579       NaN

In [4]:
from fintf import meta_model

In [5]:
df.head()

                   A         B           C    target
Date
2100-01-01  0.485240  1.079390   98.949807  0.001011
2100-01-02  0.730365 -0.557028   99.049833 -0.000860
2100-01-03  0.605147 -1.158192   98.964622  0.020934
2100-01-04  0.199334 -0.862143  101.036356  0.006701
2100-01-05  0.004733 -0.567696  101.713401  0.004626

In [6]:
from uin_fc_lib import ts_forecasts

In [7]:
tfc = ts_forecasts.TFC(df=df, date_column='Date')

DataFingerprint: 9c2ada438de59fa7a718f601cdebd776
NaN Cols to be removed: 0
Remaining NaN values in Dataframe: 0
You are now ready to run your analyses

In [8]:
from sklearn.linear_model import Ridge

In [9]:
tfc.train_model(
    model=Ridge(), 
    target='target',
    **{
        'backtest_method': 'walk_forward_rolling', 
        'step_size':2, 
        'training_window': 4, 
        'test_train_diff_days': 0
    }
)

shape of input data: (20, 3)
Training Type set to REGRRESSION
Backtesting Method chosen is: walk_forward_rolling
Model: Ridge
Model Parameters: {'alpha': 1.0, 'copy_X': True, 'fit_intercept': True, 'max_iter': None, 'normalize': False, 'random_state': None, 'solver': 'auto', 'tol': 0.001}
Size of training_window: 4
Size of oos_window: 2
Size of step_size: 2
Days difference between test and training sample: 0
Number of iterations (walk forwards): 9
Size of last test sample: 0

A Jupyter Widget

First In-Sample weighted hit ratio: 0.9708
First Out-of-Sample weighted hit ratio: 1.0000
last test window was of size 0 and is skipped
In-Sample weighted hit ratio: 0.9546
directional_hit_ratio_from_regressions: 0.5625
mean_absolute_error: 0.0060
median_absolute_error: 0.0039
weighted_hit_ratio: 0.5509
relative_median_absolute_deviation: 1.0546
Run ended: Find Log in: C:\Users\AL_BC\Desktop\Aktuelles\Financial Prediction using Machine Learning\2018-02-22_110522_1.log

In [10]:
tfc.all_data_with_predictions

            index         A         B           C    target      pred  __oos__
Date
2100-01-01      0  0.485240  1.079390   98.949807  0.001011  0.000687        0
2100-01-02      1  0.730365 -0.557028   99.049833 -0.000860  0.008367        0
2100-01-03      2  0.605147 -1.158192   98.964622  0.020934  0.011611        0
2100-01-04      3  0.199334 -0.862143  101.036356  0.006701  0.007121        0
2100-01-05      4  0.004733 -0.567696  101.713401  0.004626  0.004739        1
2100-01-06      5 -1.107422  0.511488  102.183970 -0.002945 -0.000243        1
2100-01-07      6 -1.909300 -1.350695  101.883021  0.000768  0.001043        1
2100-01-08      7 -0.762228  1.066887  101.961227 -0.005285 -0.001261        1
2100-01-09      8 -0.145456  0.601962  101.422329  0.004781 -0.000827        1
2100-01-10      9 -0.001013 -0.291862  101.907242  0.003654  0.001671        1
2100-01-11     10 -0.325643  0.107651  102.279600 -0.004425  0.000847        1
2100-01-12     11  0.040244 -1.426798  101.827052  0.012489  0.005711        1
2100-01-13     12 -0.537882  0.099645  103.098766  0.004829 -0.002212        1
2100-01-14     13  1.463235  1.008892  103.596588 -0.000948 -0.004414        1
2100-01-15     14  1.476456  0.559140  103.498421 -0.002474  0.001273        1
2100-01-16     15 -0.267964  0.728902  103.242355 -0.012856 -0.000819        1
2100-01-17     16  0.896388 -0.390923  101.915047  0.004586  0.001540        1
2100-01-18     17  0.560493 -0.072300  102.382428  0.000017 -0.000115        1
2100-01-19     18  0.643412  2.040086  102.384208  0.011363 -0.007060        1
2100-01-20     19 -0.747095 -0.070213  103.547579  0.011363 -0.009909        1

In [15]:
mm = meta_model.mini_meta_model(
    df=df, 
    regr_target='target', 
    date_column = 'Date', 
    training_window=4, 
    step_size=2, 
    target_horizon=1
)
mm.run()
mm.predict(df)

running layer 0
####
running model m1
####
the exact model on these data was found and loaded from file
return stored model instead
####
running model m2
####
the exact model on these data was found and loaded from file
return stored model instead
running layer 1
####
running model m3
####
the exact model on these data was found and loaded from file
return stored model instead
####
running model m4
####
the exact model on these data was found and loaded from file
return stored model instead

                  m1        m2        m3        m4
Date
2100-01-01  0.006312  0.004506  0.005505  0.003300
2100-01-02  0.011855  0.008755  0.009755  0.006704
2100-01-03  0.013446  0.010009  0.010657  0.007472
2100-01-04  0.004277  0.002861  0.002325  0.001227
2100-01-05  0.000445 -0.000112 -0.001096 -0.001362
2100-01-06 -0.008649 -0.007015 -0.009835 -0.007995
2100-01-07 -0.005213 -0.004225 -0.008866 -0.006958
2100-01-08 -0.008250 -0.006744 -0.008751 -0.007284
2100-01-09 -0.002709 -0.002515 -0.003399 -0.003248
2100-01-10 -0.001032 -0.001264 -0.002239 -0.002256
2100-01-11 -0.004700 -0.004076 -0.005626 -0.004829
2100-01-12  0.002794  0.001695  0.000529 -0.000023
2100-01-13 -0.008152 -0.006760 -0.008903 -0.007265
2100-01-14 -0.004692 -0.004396 -0.002866 -0.002986
2100-01-15 -0.002973 -0.003062 -0.001597 -0.001973
2100-01-16 -0.009453 -0.007813 -0.009353 -0.007707
2100-01-17  0.002738  0.001524  0.002124  0.000974
2100-01-18 -0.001039 -0.001375 -0.001416 -0.001700
2100-01-19 -0.007060 -0.006047 -0.005410 -0.005000
2100-01-20 -0.009909 -0.008114 -0.010788 -0.008637

In [12]:
tfc.target

'target'