In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
import workshop_library as wl
from workshop_library import training as training

In [3]:
df = wl.ms;df

                   A         B           C    target
Date
2100-01-01  0.394651 -1.224870  100.015545  0.005118
2100-01-02  0.292557 -0.163704  100.527426 -0.003886
2100-01-03  0.145625 -0.053457  100.136768  0.011714
2100-01-04  0.325223  0.912410  101.309750  0.004954
2100-01-05  0.342154 -0.093077  101.811600  0.000801
2100-01-06 -0.190861 -1.120884  101.893181  0.000690
2100-01-07  0.064377  0.720212  101.963491 -0.005971
2100-01-08 -1.629138 -0.679449  101.354680 -0.003414
2100-01-09  0.257058  0.070935  101.008654  0.008947
2100-01-10 -0.773356  0.497245  101.912330  0.003955
2100-01-11 -0.846773 -2.443920  102.315390 -0.000992
2100-01-12 -0.077709  1.665231  102.213893  0.004068
2100-01-13 -0.485023  0.788855  102.629744 -0.002008
2100-01-14  1.416220  2.070328  102.423698  0.020877
2100-01-15 -0.079691 -2.054070  104.561952  0.014205
2100-01-16  1.187873  0.296049  106.047270 -0.000288
2100-01-17 -3.210687  0.003513  106.016699  0.003340
2100-01-18  0.419881  0.702092  106.370753  0.017328
2100-01-19 -0.790818  0.788881  108.213895  0.011242
2100-01-20  1.158250 -1.328973  109.430396       NaN

In [4]:
from sklearn.linear_model import LinearRegression

In [5]:
from workshop_library import utils

In [6]:
ma = utils.ModelAdmin()

In [11]:
ma.clear_store()

In [15]:
ma.list()

dict_keys(['e9507018382593d63f9163d74837648b_None_target_[]_LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)_Date_c958f89103f534c1700c6ab9b92367c9'])

In [14]:
training.training(df=df, model=LinearRegression(), target = 'target', date_column = 'Date')

e9507018382593d63f9163d74837648b_None_target_[]_LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)_Date_c958f89103f534c1700c6ab9b92367c9
{'e9507018382593d63f9163d74837648b_None_target_[]_LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)_Date_c958f89103f534c1700c6ab9b92367c9':             prediction  round     truth
2100-01-15   -0.001161      0  0.014205
2100-01-16    0.007215      0 -0.000288
2100-01-17   -0.016263      0  0.003340
2100-01-18    0.003422      0  0.017328
2100-01-19   -0.003999      0  0.011242
2100-01-20    0.003158      0       NaN}
debug
Load Model from Store

            prediction  round     truth
2100-01-15   -0.001161      0  0.014205
2100-01-16    0.007215      0 -0.000288
2100-01-17   -0.016263      0  0.003340
2100-01-18    0.003422      0  0.017328
2100-01-19   -0.003999      0  0.011242
2100-01-20    0.003158      0       NaN